# Node
node_modules/
npm-debug.log*

# TypeScript
dist/
build/
*.tsbuildinfo

# Environment files
.env

# Logs
logs
*.log
*.csv

# Coverage / test
coverage/
*.lcov

# IDE / editor
.vscode/
*.swp
.DS_Store
Thumbs.db
